
services:
  backend:
    build: 
      context: ../backend
      dockerfile: Dockerfile
    container_name: decimo_backend
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app
    env_file:
      - ../backend/.env
    depends_on:
      - db

  frontend:
    build: 
      context: ../frontend
      dockerfile: Dockerfile
    container_name: decimo_frontend
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/app
    depends_on:
      - backend

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: decimo_calcetto
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
